## Base16 Rebecca
# Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#6dfedf"
       color_bad = "#a0a0c5"
       color_degraded = "#ae81ff"
}
