## Base16 Dracula
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#ebff87"
       color_bad = "#ea51b2"
       color_degraded = "#00f769"
}
