## Base16 Gruvbox light, soft
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#79740e"
       color_bad = "#9d0006"
       color_degraded = "#b57614"
}
