## Base16 Gruvbox dark, pale
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#afaf00"
       color_bad = "#d75f5f"
       color_degraded = "#ffaf00"
}
