## Base16 PaperColor Dark
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#af87d7"
       color_bad = "#585858"
       color_degraded = "#afd700"
}
