## Base16 PaperColor Light
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#8700af"
       color_bad = "#bcbcbc"
       color_degraded = "#d70087"
}
