## Base16 Gruvbox dark, soft
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#b8bb26"
       color_bad = "#fb4934"
       color_degraded = "#fabd2f"
}
