## Base16 Snazzy
# Author: Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#5af78e"
       color_bad = "#ff5c57"
       color_degraded = "#f3f99d"
}
