## Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#84b97c"
       color_bad = "#dc657d"
       color_degraded = "#c3ba63"
}
